<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mazw.mapper.Test01Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mazw.pojo.Test01">
        <result column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="GENDER" property="gender" />
        <result column="AGE" property="age" />
        <result column="ADDRESS" property="address" />
        <result column="REGDATA" property="regdata" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, NAME, GENDER, AGE, ADDRESS, REGDATA
    </sql>

</mapper>
